@import "compass/css3";

body{
	background-color: black;
	color: #ffffff;
	display: table;
}
#container1{
	display: inline;
	margin-left: center;
	text-align: center;
}
#container2{
	display: inline;
	margin-left: auto;
	text-align: center;
}
#container3{
	display: inline;
}
.circulo{
	font-size:30px;
	color:white;
	text-align: center;
	font-family:sans-serif;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.circulo2{
	height: 100px;
	width: 100px;
	border-radius: 100%;
	line-height: 100px;
	text-align: center;
	font-family:sans-serif;
	margin-top: 10%;
	display:inline-block;
	margin-right: 3%;

}
.circulo3{
	height: 100px;
	width: 100px;
	border-radius: 100%;
	line-height: 100px;
	text-align: center;
	font-family:sans-serif;
	margin-top: 50px;
	display:inline-block;
	margin-right: 3%;
}
.circulo4{
	height: 100px;
	width: 100px;
	border-radius: 100%;
	line-height: 100px;
	text-align: center;
	font-family:sans-serif;
	margin-top: 50px;
	display:inline-block;
	margin-right: 3%;
}
.circulo5{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	line-height: 100px;
	text-align: center;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.titulo{
	color:white;
	font-family:sans-serif;
	font-size:40px;
	text-align: center;
	margin-top: 20px;
}
.container1texto{
	text-align: center;
	color:white;
	font-size: 10px;
	font-family:sans-serif;
	display: inline-block;
	margin-left: 55px;
}
.container2texto{
	text-align: center;
	color:white;
	font-size: 10px;
	font-family:sans-serif;
	display: inline-block;
	margin-left: 60px;

}
.container3texto{
	text-align: center;
	color:white;
	font-size: 10px;
	font-family:sans-serif;
	display: inline-block;
}
.containertexto{
	font-size:30px;
	color:white;
	text-align: center;
	font-family:sans-serif;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}
.final{
	color:white;
	font-family:sans-serif;
	font-size:20px;
	text-align: center;
	margin-top: 100px;
}
#hombre{
	animation:myfirstb 10s;
  	-moz-animation:myfirstb 10s; /* Firefox */
  	-webkit-animation:myfirstb 10s; /* Safari and Chrome */
  	-o-animation:myfirstb 10s; /* Opera */
  	transition: all 10s ease;
	background-color: #AB0000;
}
#mujer{
	animation:myfirst 10s;
  	-moz-animation:myfirst 10s; /* Firefox */
  	-webkit-animation:myfirst 10s; /* Safari and Chrome */
  	-o-animation:myfirst 10s; /* Opera */
  	transition: all 10s ease;
	background-color: #46BF01;
}
#hora1{
	animation:myfirst 10s;
  	-moz-animation:myfirst 10s; /* Firefox */
  	-webkit-animation:myfirst 10s; /* Safari and Chrome */
  	-o-animation:myfirst 10s; /* Opera */
  	transition: all 10s ease;
	background-color: #46BF01;
}
#hora2{
	animation:myfirst 10s;
  	-moz-animation:myfirst 10s; /* Firefox */
  	-webkit-animation:myfirst 10s; /* Safari and Chrome */
  	-o-animation:myfirst 10s; /* Opera */
  	transition: all 10s ease;
	background-color: #46BF01;
}
#hora3{
	animation:myfirsta 10s;
  	-moz-animation:myfirsta 10s; /* Firefox */
  	-webkit-animation:myfirsta 10s; /* Safari and Chrome */
  	-o-animation:myfirsta 10s; /* Opera */
  	transition: all 10s ease;
	background-color: #BFAB31;
}
#hora4{
	animation:myfirstb 10s;
  	-moz-animation:myfirstb 10s; /* Firefox */
  	-webkit-animation:myfirstb 10s; /* Safari and Chrome */
  	-o-animation:myfirstb 10s; /* Opera */
  	transition: all 10s ease;
	background-color: #AB0000;
}
#alcohol{
	animation:myfirsta 10s;
  	-moz-animation:myfirsta 10s; /* Firefox */
  	-webkit-animation:myfirsta 10s; /* Safari and Chrome */
  	-o-animation:myfirsta 10s; /* Opera */
  	transition: all 10s ease;
	background-color: #BFAB31;
}
#deficiencias{
	animation:myfirst 10s;
  	-moz-animation:myfirst 10s; /* Firefox */
  	-webkit-animation:myfirst 10s; /* Safari and Chrome */
  	-o-animation:myfirst 10s; /* Opera */
  	transition: all 10s ease;
	background-color: #46BF01;
}
#desobediencia{
	animation:myfirsta 10s;
  	-moz-animation:myfirsta 10s; /* Firefox */
  	-webkit-animation:myfirsta 10s; /* Safari and Chrome */
  	-o-animation:myfirsta 10s; /* Opera */
  	transition: all 10s ease;
	background-color: #BFAB31;
}
#drogas{
	animation:myfirst 10s;
  	-moz-animation:myfirst 10s; /* Firefox */
  	-webkit-animation:myfirst 10s; /* Safari and Chrome */
  	-o-animation:myfirst 10s; /* Opera */
  	transition: all 10s ease;
	background-color: #46BF01;
}
#fallas{
	animation:myfirst 10s;
  	-moz-animation:myfirst 10s; /* Firefox */
  	-webkit-animation:myfirst 10s; /* Safari and Chrome */
  	-o-animation:myfirst 10s; /* Opera */
  	transition: all 10s ease;
	background-color: #46BF01;
}
#imprudenciac{
	animation:myfirstb 10s;
  	-moz-animation:myfirstb 10s; /* Firefox */
  	-webkit-animation:myfirstb 10s; /* Safari and Chrome */
  	-o-animation:myfirstb 10s; /* Opera */
  	transition: all 10s ease;
	background-color: #AB0000;
}
#imprudenciap{
	animation:myfirstb 10s;
  	-moz-animation:myfirstb 10s; /* Firefox */
  	-webkit-animation:myfirstb 10s; /* Safari and Chrome */
  	-o-animation:myfirstb 10s; /* Opera */
  	transition: all 10s ease;
	background-color: #AB0000;
}
#perdida{
	animation:myfirstb 10s;
  	-moz-animation:myfirstb 10s; /* Firefox */
  	-webkit-animation:myfirstb 10s; /* Safari and Chrome */
  	-o-animation:myfirstb 10s; /* Opera */
  	transition: all 10s ease;
	background-color: #AB0000;
}
#velocidad{
	animation:myfirsta 10s;
  	-moz-animation:myfirsta 10s; /* Firefox */
  	-webkit-animation:myfirsta 10s; /* Safari and Chrome */
  	-o-animation:myfirsta 10s; /* Opera */
  	transition: all 10s ease;
	background-color: #BFAB31;
}
#a{
	margin-right: 40px;
	margin-left: 25px;
}
#b{
	margin-right: 30px;
	margin-left: 40px;
}
#c{
	margin-right: 30px;
	margin-left: 10px;
}
#d{
	margin-right: 30px;
	margin-left: 10px;
}
#e{
	margin-right: 30px;
	margin-left: 30px;
}
#f{
	margin-right: 10px;
	margin-left: 10px;
}
#g{
	margin-right: 30px;
	margin-left: 10px;
}
#h{
	margin-right: 1px;
	margin-left: 15px;
}
#i{
	margin-right: 10px;
	margin-left: 10px;
}
#h1{
	margin-right: 40px;
	margin-left: 25px;
}
#h2{
	margin-right: 40px;
	margin-left: 70px;
}
#h3{
	margin-right: 40px;
	margin-left: 70px;
}
#h4{
	margin-right: 40px;
	margin-left: 50px;
}
#H{
	margin-right: 40px;
	margin-left: 25px;
}
#M{
	margin-right: 40px;
	margin-left: 70px;
}
@keyframes myfirst {
  0%   {background-color:transparent; border-color:transparent;}
  25%  {background-color:#46BF01; border-color:#46BF01;}
  50%  {background-color:#46BF01; border-color:#46BF01;}
  75%  {background-color:#46BF01; border-color:#46BF01;}
  100%  {background-color:#46BF01; border-color:#46BF01;}
}


@-moz-keyframes myfirst /* Firefox */ {
  0%   {background-color:transparent; border-color:transparent;}
  25%  {background-color:#46BF01; border-color:#46BF01;}
  50%  {background-color:#46BF01; border-color:#46BF01;}
  75%  {background-color:#46BF01; border-color:#46BF01;}
  100%  {background-color:#46BF01; border-color:#46BF01;}
}


@-webkit-keyframes myfirst /* Safari and Chrome */ {
  0%   {background-color:transparent; border-color:transparent;}
  25%  {background-color:#46BF01; border-color:#46BF01;}
  50%  {background-color:#46BF01; border-color:#46BF01;}
  75%  {background-color:#46BF01; border-color:#46BF01;}
  100%  {background-color:#46BF01; border-color:#46BF01;}
}


@-o-keyframes myfirst /* Opera */ {
  0%   {background-color:transparent; border-color:transparent;}
  25%  {background-color:#46BF01; border-color:#46BF01;}
  50%  {background-color:#46BF01; border-color:#46BF01;}
  75%  {background-color:#46BF01; border-color:#46BF01;}
  100%  {background-color:#46BF01; border-color:#46BF01;}
}
@keyframes myfirsta {
  0%   {background-color:transparent; border-color:transparent;}
  25%  {background-color:#46BF01; border-color:#46BF01;}
  50%  {background-color:#BFAB31; border-color:#BFAB31;}
  75%  {background-color:#BFAB31; border-color:#BFAB31;}
  100%  {background-color:#BFAB31; border-color:#BFAB31;}
}


@-moz-keyframes myfirsta /* Firefox */ {
  0%   {background-color:transparent; border-color:transparent;}
  25%  {background-color:#46BF01; border-color:#46BF01;}
  50%  {background-color:#BFAB31; border-color:#BFAB31;}
  75%  {background-color:#BFAB31; border-color:#BFAB31;}
  100%  {background-color:#BFAB31; border-color:#BFAB31;}
}


@-webkit-keyframes myfirsta /* Safari and Chrome */ {
  0%   {background-color:transparent; border-color:transparent;}
  25%  {background-color:#46BF01; border-color:#46BF01;}
  50%  {background-color:#BFAB31; border-color:#BFAB31;}
  75%  {background-color:#BFAB31; border-color:#BFAB31;}
  100%  {background-color:#BFAB31; border-color:#BFAB31;}
}


@-o-keyframes myfirsta /* Opera */ {
  0%   {background-color:transparent; border-color:transparent;}
  25%  {background-color:#46BF01; border-color:#46BF01;}
  50%  {background-color:#BFAB31; border-color:#BFAB31;}
  75%  {background-color:#BFAB31; border-color:#BFAB31;}
  100%  {background-color:#BFAB31; border-color:#BFAB31;}
}
@keyframes myfirstb {
  0%   {background-color:transparent; border-color:transparent;}
  25%  {background-color:#46BF01; border-color:#46BF01;}
  50%  {background-color:#BFAB31; border-color:#BFAB31;}
  75%  {background-color:#FC6B16; border-color:#FC6B16;}
  100%  {background-color:#AB0000; border-color:#AB0000;}
}


@-moz-keyframes myfirstb /* Firefox */ {
  0%   {background-color:transparent; border-color:transparent;}
  25%  {background-color:#46BF01; border-color:#46BF01;}
  50%  {background-color:#BFAB31; border-color:#BFAB31;}
  75%  {background-color:#FC6B16; border-color:#FC6B16;}
  100%  {background-color:#AB0000; border-color:#AB0000;}
}


@-webkit-keyframes myfirstb /* Safari and Chrome */ {
  0%   {background-color:transparent; border-color:transparent;}
  25%  {background-color:#46BF01; border-color:#46BF01;}
  50%  {background-color:#BFAB31; border-color:#BFAB31;}
  75%  {background-color:#FC6B16; border-color:#FC6B16;}
  100%  {background-color:#AB0000; border-color:#AB0000;}
}


@-o-keyframes myfirstb /* Opera */ {
  0%   {background-color:transparent; border-color:transparent;}
  25%  {background-color:#46BF01; border-color:#46BF01;}
  50%  {background-color:#BFAB31; border-color:#BFAB31;}
  75%  {background-color:#FC6B16; border-color:#FC6B16;}
  100%  {background-color:#AB0000; border-color:#AB0000;}
}
